.banner {
    & h2 {
        text-align: center;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 2;
        color: #6a302c;
        padding-top: 8.5em;
        padding-left: 20em;
    }

    & img{
        position: relative;
          z-index: 1;
        width: 100%;
        height: 20em;
        padding-top: 5em;
    }
}