/node_modules
/public/hot
/public/storage
/public/css
/public/fonts
/public/media
/public/js
/storage/*.key
/storage/uploads
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
