body {
    font-family: verdana;
    font-size: 0.85em;
    margin: 0;
}

ul {
    margin: 0;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.menu {
    background-color: #6a302c;
    height: auto;
}

#navigasi {
    line-height: 50px;
    list-style-type: none;
    width: 100%;
    padding: 10px 0px;

    & a {
        display: block;
        padding: 0px 25px;
        background-color: #6a302c;
        color: #fff;
        text-decoration: none;

        &:hover {
            color: rgb(255, 196, 0);
        }

        &.order {
            display: block;
            background-color: rgb(255, 196, 0);
            color: #6a302c;
            text-decoration: none;
            border-radius: 30px;

            &:hover {
                color: #fff;
            }
        }
    }

    & li ul a{
        width:15em;
        height:auto;
        float:left;
        background-color:rgb(53, 53, 53);
        color: rgb(150, 150, 150);

        &:hover{
            display:flex;
            background-color:rgb(37, 37, 37);
            color:#fff;
        }
    }
}

.dropdown {
    position: relative;
    background-color:rgb(37, 37, 37);
}

.drop-menu {
    position: absolute;
    display: none;
    list-style-type: none;
    width: 240px;
    flex-direction: column;
    padding: 0;

    li:hover > & {
        display: flex;
    }
}